@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$headerbg : #1a1a1d;
$font : 'Barlow', sans-serif;
$phone: 768px;
*{
	font-family: $font;
}
header{   
	.menuicon{
		display: none;
	}
  .profil{
	background-color: $headerbg;
	padding-top: 30px;
	padding-bottom: 15px;
  }
  .cv{
	background-color: $headerbg;  
	padding-bottom: 15px;;
  }
  img.logo{
  	 width: 176px;
 	 height: 176px;
  	object-fit: contain;
  }
  h1.title{
	  font-size: 42px;
	  font-weight: 800;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.62;
	  letter-spacing: 1.47px;
	  text-align: center;
	  color: #dcdcdc;
	  margin-bottom: -15px;
  }
  h3.desc{
	  font-size: 25px;
	  font-weight: 300;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 2.72;
	  letter-spacing: 0.88px;
	  text-align: center;
	  color: #b3b3b3;
  }
}
nav{
	margin-top: 20px;
	ul li a{
	  font-family: 'Barlow', sans-serif;
	  font-size: 40px;
	  font-weight: 800;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: normal !important;
	  letter-spacing: normal !important;
	  color: #5e5e5e !important;
	  padding-right: 2.5rem !important;
      padding-left: 2.5rem !important;
	}
	ul li.active a{
	  color: #000000 !important;
	}
}
.content{
	margin-top: 30px;
	h2.title{
		display: none;
	  font-size: 30px;
	  font-weight: 800;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  color: #000000;
	}
	p{
	  font-size: 24px;
	  font-weight: 300;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: normal;
	  letter-spacing: 0.69px;
	  text-align: center;
	  color: #b3b3b3;
	}
	form{
		input[type=text],input[type=email]{
			height: 50px;
			border-radius: 7px;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
			border: solid 1px #1a1a1d;
			background-color: #ffffff; 
		}
		textarea{
			height: 100px;
			border-radius: 7px;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
			border: solid 1px #1a1a1d;
			background-color: #ffffff;
		}
		button{
			width: 250px;
			height: 50px;
			border-radius: 7px;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
			background-color: #1a1a1d;
			font-size: 18px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: 0.51px;
			text-align: center;
			color: #ffffff;
			float: left;
		
		}
	}
}
.works{
	text-align: center;
	margin-top: 30px;
	img{
		width: 267px;
		height: 209px;
		object-fit: contain;
		background-color: rgba(0, 0, 0, 0.05);
		margin-bottom: 15px;
	}
	a{ 
		font-size: 20px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 0.57px;
		text-align: center;
		color: #1a1a1d; 
	  
	}
}
footer{
	padding-top:20px; 
	text-align: center;
	a{margin-right: 25px;}
}
.mobilmenu{display: none;}
@media (max-width: $phone)  {
	 header{
		 .menuicon{
			display: block;
			position: absolute;
			right: 16px;
			top: 30px;
		 }
		 .profil{
			 padding-top: 30px;
			 padding-bottom: 30px;
			 img{
				 width: 141px;
				 height: 141px;
			 }
		 }
		 .cv{
			 background-color: #ffffff;
			 padding-left: 15px;
			 padding-bottom: 0px;
			 h1{
				font-size: 42px;
				font-weight: 800;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #1a1a1d;
				text-align: left;
			 }
			 h3{
				font-size: 21px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 3.24;
				letter-spacing: 0.74px;
				color: #5e5e5e;
				text-align: left;
			 }
		 }
	 }
	nav{
		display: none !important;
	}
	.content{
		h2.title{
			display: block;
			text-align: left;
		}
		p{
			text-align: left;
		}
	}
	.mobilmenu{
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		background: white;
		z-index: 9;
		.header{
			height: 125px;
			background-color: #1a1a1d;
			.menuiconclose{
				float: right;
				margin-top: 48px;
				margin-right: 15px;
			}
		}
		.content{
			ul{
				list-style-type:none;
				margin-left: -40px;
			}
			li.active a{
				color: #000000;
			}
			li{
				text-align: center;
				margin-top:60px;
				margin-bottom: 40px;
			}
			a{
				font-size: 40px;
				font-weight: 800;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #5e5e5e;
			}
		}
	}
	.works{
		margin-bottom: 20px;
		img{
			width: 100%;
			height: auto;
		}
	}

	footer{
		text-align: left;
	}
	 
}