@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Barlow", sans-serif;
}

header .menuicon {
  display: none;
}
header .profil {
  background-color: #1a1a1d;
  padding-top: 30px;
  padding-bottom: 15px;
}
header .cv {
  background-color: #1a1a1d;
  padding-bottom: 15px;
}
header img.logo {
  width: 176px;
  height: 176px;
  object-fit: contain;
}
header h1.title {
  font-size: 42px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: 1.47px;
  text-align: center;
  color: #dcdcdc;
  margin-bottom: -15px;
}
header h3.desc {
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.72;
  letter-spacing: 0.88px;
  text-align: center;
  color: #b3b3b3;
}

nav {
  margin-top: 20px;
}
nav ul li a {
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #5e5e5e !important;
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}
nav ul li.active a {
  color: #000000 !important;
}

.content {
  margin-top: 30px;
}
.content h2.title {
  display: none;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.content p {
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.69px;
  text-align: center;
  color: #b3b3b3;
}
.content form input[type=text], .content form input[type=email] {
  height: 50px;
  border-radius: 7px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
  border: solid 1px #1a1a1d;
  background-color: #ffffff;
}
.content form textarea {
  height: 100px;
  border-radius: 7px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
  border: solid 1px #1a1a1d;
  background-color: #ffffff;
}
.content form button {
  width: 250px;
  height: 50px;
  border-radius: 7px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
  background-color: #1a1a1d;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.51px;
  text-align: center;
  color: #ffffff;
  float: left;
}

.works {
  text-align: center;
  margin-top: 30px;
}
.works img {
  width: 267px;
  height: 209px;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}
.works a {
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.57px;
  text-align: center;
  color: #1a1a1d;
}

footer {
  padding-top: 20px;
  text-align: center;
}
footer a {
  margin-right: 25px;
}

.mobilmenu {
  display: none;
}

@media (max-width: 768px) {
  header .menuicon {
    display: block;
    position: absolute;
    right: 16px;
    top: 30px;
  }
  header .profil {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  header .profil img {
    width: 141px;
    height: 141px;
  }
  header .cv {
    background-color: #ffffff;
    padding-left: 15px;
    padding-bottom: 0px;
  }
  header .cv h1 {
    font-size: 42px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a1a1d;
    text-align: left;
  }
  header .cv h3 {
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.24;
    letter-spacing: 0.74px;
    color: #5e5e5e;
    text-align: left;
  }

  nav {
    display: none !important;
  }

  .content h2.title {
    display: block;
    text-align: left;
  }
  .content p {
    text-align: left;
  }

  .mobilmenu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 9;
  }
  .mobilmenu .header {
    height: 125px;
    background-color: #1a1a1d;
  }
  .mobilmenu .header .menuiconclose {
    float: right;
    margin-top: 48px;
    margin-right: 15px;
  }
  .mobilmenu .content ul {
    list-style-type: none;
    margin-left: -40px;
  }
  .mobilmenu .content li.active a {
    color: #000000;
  }
  .mobilmenu .content li {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .mobilmenu .content a {
    font-size: 40px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5e5e5e;
  }

  .works {
    margin-bottom: 20px;
  }
  .works img {
    width: 100%;
    height: auto;
  }

  footer {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
